<div class="border-top mt-5">
  <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-1">
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms and Conditions</a></li>
            </ul>
          </div>
    
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
          <p>&copy; 2024 Blogger, All rights reserved. Created by <a href="https://github.com/AdityaBavadekar ">Aditya Bavadekar</a></p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
</div>