<h1>About</h1>
<section class="mt-2 px-3 pt-3">
    <h2>Welcome to Our Blogging Platform!</h4>
    <p class="ps-1">This platform is designed for writers and readers alike, providing an easy way for users to create and publish their blogs.</p>

    <h2 class="mt-4">Contact</h2>
    <p class="ps-1">If you have any questions or feedback, feel free to reach out to us at: <a href="mailto:support@blogger.com">support@blogger.com</a>. We’d love to hear from you!</p>
    
    <h2 class="mt-4">Dev Team</h2>
    <p class="ps-1"><a href="https://github.com/AdityaBavadekar" class="link-underline-opacity-0">Aditya Bavadekar</a></p>

</section>