<div class="container mt-5 mb-5 ">
    <h1>Login to create your own posts</h1>
    <div class="d-flex">
        <button type="button" id="login-btn" class="mt-5 btn py-3 px-4 btn-dark justify-content-center rounded" style="background-color: #131314;">
            <img src="https://developers.google.com/static/identity/images/branding_guideline_sample_dk_rd_sl.svg" alt="Google Logo" class="me-2">
            Continue with Google
        </button>
    </div>
</div>
<script type="module" src="/js/login.js"></script>